
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dhaval Trivedi</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/dennisivanov.jpg' %}" >
					<hr>
					<h4>Hi I'm Dhaval!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Internship as a Developer</h4>
					<hr>
					<p>3 months after writing my first Hello World program I started my Internship at Silverwing Technologies Pvt Ltd. Working as a Junior Developer and as a Web Designer at Silverwing Technologies Private Limited. gave me a chance to help other people through the power of technology.</p>

					<p>When I joined the Internship I knew nothing still I took a chance and cleared my way through and learned many things there.</p>

					<p>From this you’ll see that I’m someone that jumps before I can talk myself out of doing something scary.</p>

						<ul class="social-links">
						
						<li><a href="https://www.linkedin.com/in/dhaval-trivedi-94a518186/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						<li><a href="https://www.facebook.com/dhaval.trivedi.399/" target="_blank"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://twitter.com/Dhaval40664279" target="_blank"><img class="social" src="{% static 'images/twitter.png' %}"></a></li>
						<li><a href="https://www.instagram.com/letsgetqrio/" target="_blank"><img class="social" src="{% static 'images/Instagram.png' %}"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Backend Developer</h5>
					<hr>
					<p>Backend developer at Technologies Pvt Ltd.</p>
					<p>Designed and built an E-Commerce as a sole developer. System supported thousands of customers with a UI for Lab Admins and a customer dashboard.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, GCP, Adobe Photoshop, Adobe Premiere Pro, and Adobe Illustrator and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Django and Machine Learning & Artificail Intelligence</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After almost two years of working at the company I’m ready to learn something new. I'll collaborate and share my experience with others on my Instagram Page(letsgetqrio) where I practice my editing skills and much more.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>